.tile{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: rgba($color: #EEE, $alpha: 0.5);
    box-shadow: 0 4px 6px rgba($color: #000, $alpha: 0.1);
     height: 100%;
}